:root {
    --primary-color: #0095ff;
    --secondary-color: #fff;
}

button {
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: var(--primary-color);
    font-size: 1.2em;
    color: var(--secondary-color);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}

form {
    width: 300px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inputGroup {
    margin: 10px 0;
    max-width: 190px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: var(--secondary-color);
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.tittle-contact{        
    font-size: 2em;
    color: var(--primary-color);
    margin: 0.5em;
}

.text-contact{
    font-size: 1.2em;
    margin: 0.5em;
}