:root {
    --primary-color: #0095ff;
    --secondary-color: #fff;
}

header img {
    margin: 10px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    gap: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

button {
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: var(--secondary-color);
    font-size: 1.2em;
    color: var(--primary-color);
    font-family: inherit;
    font-weight: 500;
}

button:hover {
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}